<footer class="footer">
  <div class="footer-container">
    <p>
      {%- include logoname.html -%}
      </p>
    <p><b>Open Sky Law, PLLC</b></p>
    <p>20415 72nd Avenue S, Suite 110</p>
    <p>Kent, WA 98032</p>
  </div>
  <div class="footer-container">
    <p>Tel:  (206) 962-5052</p>
    <p>Fax:  (206) 681-9663</p>
  </div>
  <p>© 2019 Open Sky Law</p>
  <p> <a href="disclaimer.html">Disclaimer</a></p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
