
<nav class="navbar sticky-top navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="index.html"><b>Open Sky Law</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="practice_areas.html">Practice Areas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="team.html">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="consults.html">Consults</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="resources.html">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
    </ul>
  </div>
</nav>
