---
layout: default
---

<div class="contact-content">
  {{content}}

  <div class="address">
    <p><b>Open Sky Law, PLLC</b></p>
    <p>20415 72nd Avenue S, Suite 110</p>
    <p>Kent, WA 98032</p>
    <div class="address-break">
    </div>
    <p>Tel:  (206) 962-5052</p>
    <p>Fax:  (206) 681-9663</p>
    <div class="address-break"></div>

    <a href="mailto:neha@opensky.law" target="_top"><p>neha@opensky.law</p></a>
    <a href="mailto:neha@opensky.law" target="_top"><p>devin@opensky.law</p></a>
    <div class="address-break"></div>
    <p>
      Directions Via:
    </p>
  </div>
</div>
